<header class="header">

    <div class="header-content">

        <div class="header-text">

    <h2>جامعة عين شمس</h2>

    <h3>Ain Shams University</h3>



    <p>إدارة الدراسات العليا</p>

    <span>Graduate Studies Administration</span>

        <div class="line"></div>
    <h1>
        بوابة المقررات الدراسية للدراسات العليا
    </h1>

    <small class="portal-year">
        Academic Courses Portal | 2026
    </small>

</div>
        <div class="header-logo">

            <img src="assets/images/logo.png" alt="Ain Shams University">

        </div>

    </div>

<nav class="navbar">

    <a href="index.html" class="active">🏠 الرئيسية</a>

    <a href="terms.html">🎓 الفصول الدراسية</a>

    <a href="#">📝 الاختبارات</a>

    <a href="#">ℹ️ عن البوابة</a>

</nav>

</header>